* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: auto;
	width: 100%;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.title {
	display: flex;
	align-items: center;
	margin-right: 100px;
}

.title-lien {
	text-decoration: none;
	color: black;
}

/* menu */
.container {
	margin: 0 auto;
}

.mobile-nav {
	background: #555;
	color: #fff;
	display: none;
	justify-content: space-between;
	align-items: center;
	height: 35px;
	padding: 20px;
	font-size: 20px;
}

.mobile-nav .nav-btn {
	cursor: pointer;
}

.nav {
	background: red;
	display: flex;
	justify-content: center;
	z-index: 50;
	position: relative;
}

ul {
	list-style: none;
	display: flex;
	background: red;
}

ul li a,
ul li {
	cursor: pointer;
	font-size: 20px;
	text-decoration: none;
}

ul li {
	display: block;
}

ul li a {
	padding: 15px 25px;
	background: red;
	color: #fff;
	display: block;
}

li a:hover {
	background-color: brown;
	color: #111;
	transition: all 0.2s ease;
}

ul li ul {
	background: #555;
	padding-left: 5px;
	position: absolute;
	width: 10em;
	display: none;
}

li ul li a {
	padding: 10px;
	background: #555;
	color: #fff;
}

li ul li a:hover {
	background: #555;
}

ul li ul li {
	position: relative;
}

ul li ul li ul {
	position: absolute;
	top: 5px;
	left: 100%;
}

li:hover>ul,
li:active>ul {
	display: block;
}

.dropdown {
	position: relative;
}

.dropdown>a,
.dropdown>a:hover,
.dropdown.active>a,
.dropdown.active>a:hover {
	background-position: right;
	background-size: 15px;
	background-repeat: no-repeat;
	color: #fff;
}

.active {
	background-color: brown;
	color: #111;
}

.sous-active {
	background: #555;
	color: #111;
}

@media screen and (max-width: 1320px) {
	.title {
		display: none;
	}

	.mobile-nav {
		display: flex;
	}

	ul.nav {
		visibility: hidden;
		transform: translateY(-120%);
		opacity: 0;
		transition: 0.5s ease-in-out;
	}

	ul.nav.toggle {
		visibility: visible;
		transform: translateY(0);
		opacity: 1;
	}

	ul {
		flex-direction: column;
	}

	ul li {
		overflow: hidden;
		border: none;
	}

	ul li ul {
		position: relative;
		width: 90%;
		padding: 0 5%;
		transform: translateX(-100%);
		display: block;
		visibility: hidden;
		height: 0;
		overflow: hidden;
		transition: transform 400ms ease;
	}

	ul li ul li ul {
		position: initial;
		background: #555;
		top: 0;
		width: 96%;
		padding: 0 2%;
	}

	li:hover>ul,
	li:active>ul {
		display: block;
	}

	li.active>ul {
		transform: translateX(0);
		visibility: visible;
		height: 100%;
	}

	.dropdown>a,
	.dropdown>a:hover,
	.dropdown.active>a,
	.dropdown.active>a:hover {
		background-position: 95% 50%;
	}
}

/* footer */
footer {
	display: flex;
	padding: 20px 5px;
	background-color: black;
	color: #fff;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 100px;
}

.change {
	cursor: pointer;
	border: 1px solid #555;
	border-radius: 20%;
	width: 20px;
	text-align: center;
	padding: 5px;
	margin-left: 8px;
}

.dark {
	background-color: black;
	color: #e6e6e6;
}

.dark-footer {
	background-color: black;
	color: #e6e6e6;
}

.light {
	background-color: white;
}

.light-footer {
	background-color: darkred;
}

@media screen and (max-width: 768px) {

	footer {
		display: block;
		text-align: center;
	}
	
	.footer_block::after {
		content: '';
		display: block;
		width: 60%;
		height: 1px;
		border-top: 1px solid white;
		margin: 1rem auto;
	}
}

.blc-principal {
	display: flex;
	justify-content: center;
}

.blc-cv {
	border-radius: 20px;
	background-color: floralwhite;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	width: 0;
	height: 0;
	overflow: hidden;
	box-shadow: black 0 0 15px;
	padding: 320px 310px;
	display: flex;
	align-items: center;
	margin: 40px;
}

.title-cv {
	display: block;
	width: 300px;
	font-size: 32px;
	color: black;
	font-weight: bold;
	margin-left: -200px;
	margin-top: -506px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.title-cv::after {
	content: '';
	display: block;
	width: 150%;
	height: 1px;
	border-top: 1px solid black;
	margin: 2rem 60px;
}

.p-cv {
	display: block;
	width: 300px;
	height: auto;
	color: black;
	margin-left: -150px;
	margin-top: 50px;
}

.blc-cv-container {
	background: url(ressources/CVADRIENBRUYERE.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 210px 150px;
	transition: all 0.5s ease;
}

.blc-cv-container:hover {
	transform: scale(1.5);
}

.blc-certifications {
	border-radius: 20px;
	background-color: floralwhite;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	width: 0;
	height: 0;
	overflow: hidden;
	box-shadow: black 0 0 15px;
	padding: 320px 310px;
	display: flex;
	align-items: center;
	margin: 40px;
}

.title-certifications {
	display: block;
	width: 300px;
	font-size: 32px;
	color: black;
	font-weight: bold;
	margin-left: -200px;
	margin-top: -506px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.title-certifications::after {
	content: '';
	display: block;
	width: 150%;
	height: 1px;
	border-top: 1px solid black;
	margin: 2rem 60px;
}

.p-certifications {
	display: block;
	width: 300px;
	height: auto;
	color: black;
	margin-left: -150px;
	margin-top: 50px;
}

.blc-certifications-container {
	background: url();
	background-size: cover;
	background-repeat: no-repeat;
	padding: 210px 150px;
	transition: all 0.5s ease;
}

.blc-certifications-container:hover {
	transform: scale(1.5);
}

.blc-projets {
	border-radius: 20px;
	background-color: floralwhite;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	width: 0;
	height: 0;
	overflow: hidden;
	box-shadow: black 0 0 15px;
	padding: 320px 310px;
	display: flex;
	align-items: center;
	margin: 40px;
}

.title-projets {
	display: block;
	width: 300px;
	font-size: 32px;
	color: black;
	font-weight: bold;
	margin-left: -200px;
	margin-top: -506px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.title-projets::after {
	content: '';
	display: block;
	width: 150%;
	height: 1px;
	border-top: 1px solid black;
	margin: 2rem 60px;
}

.p-projets {
	display: block;
	width: 300px;
	height: auto;
	color: black;
	margin-left: -150px;
	margin-top: 50px;
}

.blc-projets-container {
	background: url();
	background-size: cover;
	background-repeat: no-repeat;
	padding: 210px 150px;
	transition: all 0.5s ease;
}

.blc-projets-container:hover {
	transform: scale(1.5);
}

.blc-veille-technologique {
	border-radius: 20px;
	background-color: floralwhite;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	width: 0;
	height: 0;
	overflow: hidden;
	box-shadow: black 0 0 15px;
	padding: 320px 310px;
	display: flex;
	align-items: center;
	margin: 40px;
}

.title-veille-technologique {
	display: block;
	width: 300px;
	font-size: 32px;
	color: black;
	font-weight: bold;
	margin-left: -200px;
	margin-top: -506px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.title-veille-technologique::after {
	content: '';
	display: block;
	width: 150%;
	height: 1px;
	border-top: 1px solid black;
	margin: 2rem 60px;
}

.p-veille-technologique {
	display: block;
	width: 300px;
	height: auto;
	color: black;
	margin-left: -150px;
	margin-top: 50px;
}

.blc-veille-technologique-container {
	background: url();
	background-size: cover;
	background-repeat: no-repeat;
	padding: 210px 150px;
	transition: all 0.5s ease;
}

.blc-veille-technologique-container:hover {
	transform: scale(1.5);
}

.blc-experiences-professionnelles {
	border-radius: 20px;
	background-color: floralwhite;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	width: 0;
	height: 0;
	overflow: hidden;
	box-shadow: black 0 0 15px;
	padding: 320px 310px;
	display: flex;
	align-items: center;
	margin: 40px;
}

.title-experiences-professionnelles {
	display: block;
	width: 300px;
	font-size: 32px;
	color: black;
	font-weight: bold;
	margin-left: -200px;
	margin-top: -506px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.title-experiences-professionnelles::after {
	content: '';
	display: block;
	width: 150%;
	height: 1px;
	border-top: 1px solid black;
	margin: 2rem 60px;
}

.p-experiences-professionnelles {
	display: block;
	width: 300px;
	height: auto;
	color: black;
	margin-left: -150px;
	margin-top: 50px;
}

.blc-experiences-professionnelles-container {
	background: url();
	background-size: cover;
	background-repeat: no-repeat;
	padding: 210px 150px;
	transition: all 0.5s ease;
}

.blc-experiences-professionnelles-container:hover {
	transform: scale(1.5);
}

.blc-passions {
	border-radius: 20px;
	background-color: floralwhite;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	width: 0;
	height: 0;
	overflow: hidden;
	box-shadow: black 0 0 15px;
	padding: 320px 310px;
	display: flex;
	align-items: center;
	margin: 40px;
}

.title-passions {
	display: block;
	width: 300px;
	font-size: 32px;
	color: black;
	font-weight: bold;
	margin-left: -200px;
	margin-top: -506px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.title-passions::after {
	content: '';
	display: block;
	width: 150%;
	height: 1px;
	border-top: 1px solid black;
	margin: 2rem 60px;
}

.p-passions {
	display: block;
	width: 300px;
	height: auto;
	color: black;
	margin-left: -150px;
	margin-top: 50px;
}

.blc-passions-container {
	background: url();
	background-size: cover;
	background-repeat: no-repeat;
	padding: 210px 150px;
	transition: all 0.5s ease;
}

.blc-passions-container:hover {
	transform: scale(1.5);
}

/* responsive */
@media screen and (max-width: 1320px) {
	.blc-principal {
		display: block;
	}

	.blc-cv {
		margin-top: 20px;
		margin: 20px;
		padding: 200px 168px;
	}

	.title-cv {
		margin-left: -80px;
		margin-top: -240px;
	}

	.blc-cv-container {
		padding: 80px 50px;
		background-size: 110px;
	}

	.blc-certifications {
		margin-top: 20px;
		margin: 20px;
		padding: 200px 168px;
	}

	.title-certifications {
		margin-left: -80px;
		margin-top: -240px;
	}

	.blc-certifications-container {
		padding: 80px 50px;
		background-size: 110px;
	}

	.blc-projets {
		margin-top: 20px;
		margin: 20px;
		padding: 200px 168px;
	}

	.title-projets {
		margin-left: -80px;
		margin-top: -240px;
	}

	.blc-projets-container {
		padding: 80px 50px;
		background-size: 110px;
	}

	.blc-veille-technologique {
		margin-top: 20px;
		margin: 20px;
		padding: 200px 168px;
	}

	.title-veille-technologique {
		margin-left: -80px;
		margin-top: -240px;
	}

	.blc-veille-technologique-container {
		padding: 80px 50px;
		background-size: 110px;
	}

	.blc-experiences-professionnelles {
		margin-top: 20px;
		margin: 20px;
		padding: 200px 168px;
	}

	.title-experiences-professionnelles {
		margin-left: -80px;
		margin-top: -240px;
	}

	.blc-experiences-professionnelles-container {
		padding: 80px 50px;
		background-size: 110px;
	}

	.blc-passions {
		margin-top: 20px;
		margin: 20px;
		padding: 200px 168px;
	}

	.title-passions {
		margin-left: -80px;
		margin-top: -240px;
	}

	.blc-passions-container {
		padding: 80px 50px;
		background-size: 110px;
	}
}

.blc-cv-page  {
	display: flex;
}

.blc-cv-right {
	background-color: #919191;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	width: 0;
	height: 0;
	overflow: hidden;
	padding: 640px 200px;
	margin: 40px;
}

.blc-cv-right-container {
	margin-top: -400px;
	text-align: center;
}

.p-cv-right {
	display: block;
	width: 300px;
	height: auto;
	color: white;
	margin-left: -150px;
}

.title-cv-right {
	display: block;
	width: 300px;
	height: auto;
	color: #e9aca3;
	font-weight: bold;
	margin-left: -150px;
}

.sub-title-cv-right {
	display: block;
	width: 300px;
	height: auto;
	color: white;
	font-weight: bold;
	margin-left: -190px;
}

.blc-cv-center {
	background-color: #fafafa;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	width: 0;
	height: 0;
	overflow: hidden;
	padding: 640px 560px;
	margin: 40px;
	margin-left: -40px;
}

.blc-cv-center-container {
	margin-top: -520px;
}

.title-cv-center {
	display: block;
	height: auto;
	color: #e9aca3;
	font-weight: bold;
	font-size: 40px;
	margin-left: -96px;
}

.sub-title-cv-center {
	display: block;
	width: 300px;
	height: auto;
	color: #e9aca3;
	font-weight: bold;
	margin-left: -500px;
}

.p-cv-center {
	display: block;
	width: 500px;
	height: auto;
	color: #9f9f9f;
	font-weight: bold;
	margin-left: -460px;
}

.p-cv-center-describe {
	display: block;
	width: 420px;
	height: auto;
	color: #9f9f9f;
	margin-left: -460px;
}

.p-cv-center-title {
	display: block;
	width: 350px;
	height: auto;
	color: black;
	font-weight: bold;
	margin-left: -460px;
}

.p-cv-center-describe-list {
	display: block;
	width: 600px;
	height: auto;
	color: #9f9f9f;
	margin-left: -420px;
}